{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8 description">
        <h1>Alberto prueba</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magni dignissimos laudantium animi eligendi delectus, adipisci a qui sit quaerat.
        </p>
    </div>

    <div class="col-4 img-description">
        <img src="assets/img/team1.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}